<%= form_for(:user_detail, url: home_create_path) do |f| %>
<p>Name: <%= f.text_field :name, required: :true %></p>
<p>Address: <%= f.text_field :address, required: :true %></p>
<%= f.submit%>
<% end %>